<!doctype html>

<html>
<head>
	<title>Data Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/home.css">
</head>
<body>
	<div class="text-center">
		<h4 class="screen-heading center-align p-3 m-0 shadow-md">
			Data
		</h4>
		<hr class="m-0">
	</div>

	<div class="text-align: left">
		<h4 id = "Type">Activity Type: 
			<span class="dropdown">
			  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Math
			  <span class="caret"></span></button>
			  <ul class="dropdown-menu">
					{{#each activity}}
						<li><a href="#">{{name}}</a></li>	
	    			{{/each}}
			  </ul>
			</span>
		</h4>


		<h4 id ="Graph">Graph:
			<span>
				<button class="fineRough border white on" id="Bar">
					Bar
				</button>
				<button class="fineRough border white" id ="Line">
					Line
				</button>
			</span> 
		</h4>

		<h4 id="Timeline">Timeframe: 		
			<span>
				<button class="fineRough border white on" id="Day">
					Day
				</button>
				<button class="fineRough border white" id = "Week">
					Week
				</button>
				<button class="fineRough border white" id="Month">
					Month
				</button>
			</span>
		</h4>
	</div>

	<div>
		<p>*click on graph for distraction details</p>
	</div>

	<div class="text-center">
		<div>
			<a href="#"><img id="graphPic" src="https://www.mathsisfun.com/data/images/bar-graph-fruit.svg" class="graph"</a>
		</div>

		<!--Activity and Navigation Button-->		
		<div class="nav-pane fixed-bottom row pt-2">
			<a href="/home" class="nav-button col-6 border p-2">
				ACTIVITY
			</a>
			<span class="nav-button col-6 border p-2 highlight">
				DATA
			</span>
		</div>
	</div>


	<script type="text/javascript" src="/js/count.js"></script>
</body>
</html>