<!doctype html>

<html>
<head>
	<title>Data Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link rel="stylesheet" href="/css/home.css">
</head>
<body>
	<div class="text-center">
		<h4 class="screen-heading center-align p-3 m-0 shadow-md">
			Data
		</h4>
		<span id="help" style="font-size: 17px;">
					<!--modal for help-->
					<a href="#" data-toggle="modal" data-target="#helpModal">
			  		<i class="fas fa-info-circle"></i></a>
		</span>
	</div>

	<hr class="m-0">
	<!-- help modal content -->
		<div class="modal fade" id="helpModal" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body">
				        <h6 class="py-3">How Do I Track My Procrastination Habits?</h6>
				        <ol class="text-left">
				        	<li class="px-2 py-1">We'll have to actually complete this screen</li>
				        	<li class="px-2 py-1">Till then please be mindful of the nicest fruits</li>
				        </ol>
				      </div>
				    </div>
				  </div>
				</div>	

	<div class="text-align: left">
		<h4 id = "Type">Activity Type: 
			<span class="dropdown">
			  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Math
			  <span class="caret"></span></button>
			  <ul class="dropdown-menu">
					<!--{{#each users}}-->
						{{#each activities}}
							<li><a href="#">{{name}}</a></li>
						{{/each}}
	    			<!--{{/each}}-->
			  </ul>
			</span>
		</h4>


		<h4 id ="Graph">Graph:
			<span>
				<button class="btnOn" id="Bar">
					Bar
				</button>
				<button class="btnOff" id ="Line">
					Line
				</button>
			</span> 
		</h4>

		<h4 id="Timeline">Timeframe: 		
			<span>
				<button class="btnOn" id="Previous">
					Previous
				</button>
				<button class="btnOff" id = "Last5">
					Last 5
				</button>
				<button class="btnOff" id="Last10">
					Last 10
				</button>
			</span>
		</h4>
	</div>

	<div>
		<p>*click on graph for distraction details</p>
	</div>

	<div class="text-center">
		<div id="dataGraph">
			<a href="#" data-toggle="modal" data-target="#previousData"><img id="graphPic" src="https://www.mathsisfun.com/data/images/bar-graph-fruit.svg" class="graph bar previous"></a>
		</div>
	</div>

				<!-- day data modal content -->
				<div class="modal fade" id="previousData" tabindex="-1">
					<div class="modal-dialog modal-dialog-centered">
				    <div class="modal-content">
				      <div class="modal-body">
				        <p>Previous data</p>
				      </div>
				    </div>
				  </div>
				</div>

				<!-- week data modal content -->
				<div class="modal fade" id="last5Data" tabindex="-1">
					<div class="modal-dialog modal-dialog-centered">
				    <div class="modal-content">
				      <div class="modal-body">
				        <p>Last 5 data</p>
				      </div>
				    </div>
				  </div>
				</div>

				<!-- help modal content -->
				<div class="modal fade" id="last10Data" tabindex="-1">
					<div class="modal-dialog modal-dialog-centered">
				    <div class="modal-content">
				      <div class="modal-body">
				        <p>Last 10 data</p>
				      </div>
				    </div>
				  </div>
				</div>





<!--		<div class="text-align: left">
			<p>Most Recent</p>
			{{#each distraction}}
				<h6><small>Activity: {{name}} -- Distraction Count: {{amount}} -- Most Common: {{mostCommon}}</small></h6>
   			{{/each}}
		</div>-->

	<div class="text-center">
		<!--Activity and Navigation Button-->		
		<div class="nav-pane fixed-bottom row pt-2">
			<a href="/home" class="nav-button col-6 p-2 highlight">
				ACTIVITY
			</a>
			<span class="nav-button col-6 p-2">
				DATA
			</span>
		</div>
	</div>


	<script type="text/javascript" src="/js/dataPage.js"></script>
</body>
</html>