<!doctype html>

<html>
<head>
	<title>Home Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/home.css">
</head>
<body>
	<div class=" text-center">
		<h4 class="screen-heading center-align p-3 m-0 shadow-md">
			Start An Activity
		</h4>
		<hr class="m-0">
		<h6 class="prompt pb-1 pt-4">
			Select Activity Type
		</h6>
		<input name="act-type" class="act-type p-2 rounded" placeholder="Eg. Study">
		</input>

		<div class="clock-placeholder my-5">
			<div class="time p-3 mt-5">
				00 : 00
			</div>
			<a href="#" class="time_prompt px-4 py-2 m-5 border rounded">
				Edit Time
			</a>
		</div>

		<!--Start Button-->
		<div>
			<a href="/start" class="start p-2 px-4 mx-5 border rounded">
				START
			</a>
		</div>
		
		<div class="nav-pane fixed-bottom row pt-2">
			<a href="/home" class="nav-button col-6 border p-2">
				ACTIVITY
			</a>
			<a href="/data" class="nav-button col-6 border p-2">
				DATA
			</a>
		</div>
	</div>
</body>
</html>
