<!doctype html>

<html>
<head>
	<title>Home Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/home.css">


</head>
<body>
	<div class="container">
		<div class="screen-heading">
			Start An Activity
		</div>
		<div class="prompt">
			Select Activity Type
		</div>
		<input class="act-type" placeholder="Eg. Study">

		</input>
		<div class="time">
			00 : 00
		</div>
		<div class="time-prompt">
			Edit Time
		</div>
		<div class="start">
			Start
		</div>
		<div class="nav-pane">
			<div class="nav-button">
				ACTIVITY
			</div>
			<div class="nav-button">
				DATA
			</div>
		</div>
	</div>
</body>
</html>
