<!doctype html>

<html>
<head>
	<title>Home Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link rel="stylesheet" href="/css/home.css">
</head>
<body>
	<div class="text-center">
		<h4 class="screen-heading center-align p-3 m-0 shadow-md">
			Start An Activity
			<span id="help" style="font-size: 17px;">
					<!--modal for help-->
					<a href="#" data-toggle="modal" data-target="#helpModal">
			  		<i class="fas fa-info-circle"></i></a>
			</span>
		</h4>

		<!-- help modal content -->
		<div class="modal fade" id="helpModal" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body">
				        <h6 class="py-3">How Do I Start An Activity?</h6>
				        <ol class="text-left">
				        	<li class="px-2 py-1">Input the activity type.</li>
				        	<li class="px-2 py-1">Use the dropdowns to set the time, or choose to focus for an unspecified amount of time.</li>
				        	<li class="px-2 py-1">Press Start!</li>
				        </ol>

				        <span style="color: red;">*</span>Required Field
				      </div>
				    </div>
				  </div>
				</div>	


		<hr class="m-0">
		<h6 class="prompt pb-1 pt-4">
			Enter Activity Type <span style="color: red">*</span>
		</h6>
		<input name="act-type" class="act-type p-2 rounded" placeholder="Eg. Study" id="inAct" list="acts">
		</input>

		<datalist id="acts">
			{{#each activities}}
			<option>{{name}}</option>
			{{/each}}
		</datalist>

		<div class="clock-placeholder my-5">
			
			<div class="time p-3 mt-5">
				<h5>Set Time</h5>
				<select class="rounded" id="hours">
					<option value="00">00</option>
					<option value="01">01</option>
					<option value="02">02</option>
				</select> : 
				<select class="rounded" id="mins">
					<option value="00">00</option>
					<option value="05">05</option>
					<option value="10">10</option>
					<option value="15">15</option>
					<option value="20">20</option>
					<option value="25">25</option>
					<option value="30">30</option>
					<option value="35">35</option>
					<option value="40">40</option>
					<option value="45">45</option>
					<option value="50">50</option>
					<option value="55">55</option>
				</select> 
			</div>
			
		</div>

		<!--Start Button-->
		<div id="Start">
			<a href="/start" class="start p-2 px-4 mx-5 border rounded" id="startButton">
				START
			</a>
		</div>
		
		<!--Activity and Data Button-->
		<div class="nav-pane fixed-bottom row pt-2">
			<span class="nav-button col-6  p-2">
				ACTIVITY
			</span>
			<a href="/data" class="nav-button col-6  p-2 highlight">
				DATA
			</a>
		</div>
	</div>
	<script type="text/javascript" src="/js/home.js"></script>
</body>
</html>
