<!doctype html>
<html>
<head>
	<title>Progress Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/home.css">
</head>
<body>
	<div class=" text-center">
		<h4 class="screen-heading center-align p-3 m-0 shadow-md">
			In Progress
		</h4>

		<hr class="m-0">

		<h6 class="prompt pb-1 pt-4">
			Current Activity*
		</h6>

		<!--Distracted Button-->
		<div class = "distracted">
			<a href = "">
				<div class="p-2 mx-5 border rounded distracted">
					Distracted?
				</div>
			</a>
		</div>



		<!--Distracted count-->
		<div class="distNumber position-absolute">
			<p># of distractions: 0</p>
		</div>

		<!--Pause and End Button(side by side)-->
		<div>
			<a href = "">
				<div class="start p-2 mx-5 border rounded position-absolute">
					Pause
				</div>
			</a>
			<a href = "">
				<div class="start p-2 mx-5 border rounded position-absolute">
				<!--end square symbol(black for now)-->
					<div class="square"></div>
				</div>
			</a>
		</div>



		<!--Activity and Navigation Button-->		
		<div class="nav-pane fixed-bottom row pt-2">
			<a href = "">
			<div class="nav-button col-6 border p-2">
			</a>
				ACTIVITY
			</div>

			<div class="nav-button col-6 border p-2">
				DATA
			</div>
		</div>

	</div>
</body>
</html>