

/* general */
.container{
	width: 375;
}

hr {
	margin: 0;
}

.nav-button {
	height: 45px;
}

a {
	color: black;
}

a:hover {
	text-decoration: none;
	color:black;
}

/* home screen */

.start {
	position: relative;
	top: 180px;
	color: black;
}

.white{
	background-color: white;
}

.graph{
	position: relative;
	width:300px;
	height:300px;
	top: 20px;
}

.highlight {
	background-color: #CCC5C5;
}

.time-prompt {
	width: 125px;
	position: relative;
	left: 65px;

}

.fineRough {
	width: 125 px;
	position: relative;
}

.time {
	font-size: 35px;
}

.clock-placeholder {
	position: relative;
	top: 60px;
}

/* progress screen */

.clock-motion {
	box-sizing: border-box;
	position: relative;
	top: 20px;
	border-radius: 50%;
	width: 77.5%;
	padding-top: 77.5%;
}

.time-num {
	position: absolute;
	top:30%;
	left:0;
	bottom: 0;
	right: 0;
	font-size: 35px;
}

.time-elap {
	position: absolute;
	top:55%;
	left:0;
	bottom: 0;
	right: 0;
}

.dist-num {
	font-size: 20px;
	background-color: #efefef;
	position: relative;
	top: 40px;
}

.act-btn {
	position: relative;
	top: 50px;
}

.pop-up {
	display: block;
	position: absolute;
	top: 5rem;
	left: 3rem;
	z-index: 100;
	background-color: #efefef;
}

.icon {
	font-size: 1.5rem;
}

.dist {
	z-index: -1;
}

/* login screen */

.login {
	position: relative;
	top: 80px;
}

.signup {
	position: relative;
	top: 80px;
}